@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap);
*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --ff-primary: 'Spartan', 'sans-serif';
    --fw-reg: 200;
    --fw-bold: 700;
    --clr-light: rgb(255, 255, 255);
    --clr-dark: rgb(0, 0, 0);
    --clr-accent: #475B52;
    --fs-h1:3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.25rem;
    --fs-h4: 20px;
    --fs-h6: 12px;
    --fs-body: 1rem;
    --boxS: .25em .25em .75em rgba(0, 0, 0, 0.887),
            .125em .125em .25em rgba(0, 0, 0, 0.904);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary)
}
h1 {
    font-size: var(--fs-h1);
    line-height: 64px;
    color: var(--clr-dark);
}
h2 {
    font-size: var(--fs-h2);
    line-height: 54px;
    color: var(--clr-dark);
}
h4 {
    font-size: var(--fs-h4);
    color: var(--clr-dark);
}
h6 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-h6);
}
p {
    font-size: 16px;
    color: var(--clr-dark);
    margin: 15px 0 20px 0;
}
.section-p1 {
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}
body {
    width: 100%;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background:  #E3E6F3;
    box-shadow: var(--boxS);
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
#navbar li {
    padding: 0 20px;
    font-size: 14px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--clr-dark);
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
   color: rgb(60, 71, 110);
}
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(60, 71, 110);
    position: absolute;
    bottom: -4px;
    left: 20px;
}
.logo {
    width: 175px;
    height: auto;
}

.product-type-column {
    float: left;
    width: 33.33%;
    display: flex;
    align-items: center;
    width: 100%;
}

.card-column {
    padding: 2rem;
    height: auto;
    width: 50%;
}

.card-column::after {
    content: "";
    clear: both;
    display: table;
    flex: 12%;
    padding: 2rem;
    width: 10rem;
}

.product-type{
    width: 10rem;
    height: auto;
    border-radius: 1.6rem;
    background: transparent;

}

.btn {
    border-radius: 1.6rem;
    background: transparent;
    width: 10rem;
    height: auto;
    border: none;
}

.product-type:hover {
    box-shadow: 0 0.5rem 2rem 0 #364366;
    transform: translateY(-0.1rem);
    transition: transform 150ms;

}

.search-results {
    float: left;
    padding: 2rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: top;
    text-align: center;
}

.search-results h3{
    padding: 1rem;
    font-weight: bold;
    align-items: center;
    
}
.search-results::after {
    content: "";
    clear: both;
    display: table;
    flex: 12%;
    width: 10rem;
}
.search-results::before {
    content: "";
    clear: both;
    display: table;
    flex: 12%;
    width: 10rem;
}

.brand-list{
    max-height: 100%;
    width: 50rem;
    text-transform: uppercase;
    text-align: left;
}

.video-list{
    max-height: 100%;
    text-transform: uppercase;
}